name: Slack PR Notification
on:
  # pull request target uses base and has access to secrets
  pull_request_target:
    types: [opened, reopened]

jobs:
  rfc-notify:
    name: RFC Notification
    runs-on: ubuntu-latest
    steps:
    - name: Check PR title
      id: check
      run: |
        if [[ "${{ github.event.pull_request.title }}" == *"RFC"* ]]; then
          echo "NOTIFY_SLACK=true" >> $GITHUB_ENV
        fi
    - name: Notify Slack
      if: env.NOTIFY_SLACK == 'true'
      uses: slackapi/slack-github-action@v1.25.0
      with:
        channel-id: "wg-open-source"
        slack-message: "${{ github.actor }} opened a new RFC: ${{ github.event.pull_request.title }}. URL: ${{ github.event.pull_request.html_url }}"
      env:
        SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
